* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #77eeaa;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.card {
  width: 35rem;
  height: auto;
  aspect-ratio: 1.75;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

header {
  grid-row: 1 / 3;
  background: #c00;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0;
  color: white;
}

header img {
  width: 100px;
  height: 100px;
  background: grey;
  border-radius: 50%;
}

header h1 {
  font-size: 20px;
}

header h2 {
  font-size: 16px;
  position: relative;
  bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact a {
  color: black;
  text-decoration: none;
  margin: 1rem 2rem;
}

.contact a:hover {
  color: #c00;
  text-decoration: underline;
}

.sosmed {
  grid-column: 2;
}

.sosmed ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.sosmed ul li {
  margin: .5rem 0;
}

.sosmed ul li a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

.sosmed ul li a:hover {
  text-decoration: underline;
}
