* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

body { 
  background-image: linear-gradient(-45deg, #8dadff 20%, #ff8f8f 80%) ;
  font-family: "Poppins", "Inter", sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  margin-bottom: 0.5rem;
  color: #c00;
  font-weight: 300;
}

.card {
  width: 35rem;
  height: auto;
  aspect-ratio: 1.75;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

header {
  background: #c00;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0;
  color: white;
  border-radius: 0 20% 20% 0;
}

header img {
  width: 100px;
  height: 100px;
  background: grey;
  border-radius: 50%;
  object-fit: cover;
}

header h1, header h2 {
  font-weight: 700;
}

header h1 {
  font-size: 20px;
}

header h2 {
  font-size: 16px;
  position: relative;
  bottom: 1rem;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact ul {
  list-style: none;
}

.contact li {
  margin: 1.3rem 1rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 3rem auto;
}

.contact li i {
  grid-row: 1 / 3;
  grid-column: 1;
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
  color: #c00;
}

.contact li h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover {
  color: #c00;
  text-decoration: underline;
}
